<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doji Survuy Index</title>
<script async src='/cdn-cgi/bm/cv/669835187/api.js'></script></head>
<body>
    <h1>Submitted Info :</h1>
    <p>Name : {{name_from_python}}</p>
    <p>Dojo Location : {{location_from_python}}</p>
    <p>Favorite Language : {{lang_from_python}}</p>
    <p>comment : {{comment_from_python}}</p>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6d93fe040b09e918',m:'fZxM5xUYItULC.w7S4VOWwCFHv1E4E47yTmlMyBQWng-1644146458-0-AeU9KEWex5MiCjdSq4Y6clXOW4H1/UilYL64nSPGQcEeSSIpnQatxqR9R+afVFyaNMelD05euoWbB47/OyWcapbfbgsv6xPrU1DSCeohk6NtGm49AoGXHuCbujsRwpPGK7KSdQ0TmY0SvfVOe0DpCSwxd3R1nou0KXwnaF4OV/VNxAxOlzIx3BKWyMLvSzbfiQ==',s:[0xa98f290a9a,0x8d8a13d09f],}})();</script></body>
</html>