<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survuy Index</title>
<script async src='/cdn-cgi/bm/cv/669835187/api.js'></script></head>
<body>
    <form action="/result" method="post">
        {% csrf_token %}
    <p>Your Name :<input type="text" name="username"></p>
    <p>Dojo location : <select name="location" >
        <option value="nablus">Nablus</option>
        <option value="Tulkarem">Tulkarem</option>
        <option value="Ramallah">Ramallah</option>
    </select> 
    </p>
    <p>Favorite Language : <select name="fav" >
        <option value="python">python</option>
        <option value="java">java</option>
        <option value="MERN">MERN</option>
    </select> 
    </p>
    <p></p>
    <p>comment (optional): </p>
       <p> <textarea name="comment"  cols="30" rows="10"></textarea></p>
    
    <button type="submit">submit</button>
    </form>


<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6d93fdf9b803e918',m:'P3rGEQ4yrFBVMjG5q766_FEYHp.z9ZYbdS_nk1RF7WQ-1644146456-0-AVWygVfija74A5TL36kerIhHbl6r4M7kn+rZvgaTQ53mvAMEnvteqLByj49ny6vjSIgPaOMh1O6jMy2RQiA+DTYGytDEcbNQOlj5S9Rq2d+O67fAT6bHcE+TcEM4uz6JMkU8cldDF+LjXo94Vwso0PPgjmz+JF9SdKTK6EtjnRxshA0bqPsHXigmCYBSHnVlaA==',s:[0xfac9e45e89,0x98dad67595],}})();</script></body>
</html>