<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .page{
            text-align: center;
            
        }
        .box{
            width: 150px;
            height: 150px;
            margin: auto;
            display: inline-block;
        }

    </style>
</head>
<body>
    <div class="page">
        <h1>Welcome!</h1>
        {% for x in range(num_s): %}
        <div style="background-color:{{ color_p }}" class="box"></div>
        {% endfor %}
    </div>
    
</body>
</html>